{#发表页#}
{% extends 'base/frame.html' %}
{% load static %}
{% block CustomCss %}
    <link rel="stylesheet" href="{% static "css/markdown/editormd.css" %}" />
{#    <link rel="stylesheet" href="{% static "css/style.css" %}">#}
    <style>
        ul[data-id='sort-name'],
        ul[data-id='label-name']{
            z-index: 2003;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="row">
      <div class="col-lg-12">
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default " aria-haspopup="true" aria-expanded="false">标题</button>
          </div>
          <input type="text" class="form-control" data-id="titleName" aria-label="...">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-id="sort-name" data-value="-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">分类<span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right" data-id = "sort-name">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-id = "label-name" data-value="-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">标签<span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right" data-id = "label-name">
                <li><a href="#">Actions</a></li>
                <li><a href="#">Another actions</a></li>
                <li><a href="#">Something else heres</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated links</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div style="z-index: 2002">
        <div id="editormd">
            <textarea style="display:none;"></textarea>
        </div>
    </div>
{#    <div class="ibox-content" style="z-index: 99999">#}
{#        <div class="spiner-example">#}
            <div class="sk-spinner sk-spinner-cube-grid">
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
            </div>
{#        </div>#}
{#    </div>#}
{% endblock %}

{% block CustomJs %}
    <script src="{% static "js/markdown/editormd.js" %}"></script>
    <script>
        let left_nav_width = $("div.left-nav").outerWidth(),
            window_height = $(window).height(),
            document_width = $(document).width();
        let left_nav_width_temp = left_nav_width;
        let timer;
        function give_height() {
            if(timer){
                clearTimeout(timer);
            }
            timer = setTimeout(function () {
                window_height = $(window).height();
                document_width = $(document).width();
                {#alert($(window).height()+","+$(document).height())#}
                if (document_width <= 1024){
                    left_nav_width_temp = 0;
                }else{
                    left_nav_width_temp = left_nav_width;
                }
                {#$("div.content").css("height", document_height-101+"px");#}
                $("#editormd, div.CodeMirror, div.editormd-preview").css("height", window_height - 136 + "px");
                timer = null;
                {#console.log($(".editormd-preview").html());#}

            },0)
        }
        (function () {
            {#give_height();#}
        })();

        $(function() {
            $(window).resize(function () {
                give_height();
            });
            testEditor = editormd("editormd", {
                z_index: 2002,
                width: "inherit",
                height: ($(document).height()-136) + 'px', //减去上面bar的高度，输入框组，footer的高度
                margin: "0",
                value: '',
                flowChart: true,
                tex: true,
                // Editor.md theme, default or dark, change at v1.5.0
                // You can also custom css class .editormd-preview-theme-xxxx
                theme: (localStorage.theme) ? localStorage.theme : "dark",

                // Preview container theme, added v1.5.0
                // You can also custom css class .editormd-preview-theme-xxxx
                previewTheme: (localStorage.previewTheme) ? localStorage.previewTheme : "dark",

                // Added @v1.5.0 & after version is CodeMirror (editor area) theme
                editorTheme: (localStorage.editorTheme) ? localStorage.editorTheme : "pastel-on-dark",
                path: '/static/lib/'
            });
            {#左上角按钮重新调正编辑器大小#}
            $('a.navbar-minimalize').click(function () {
                var i = 0;
                var ti = setInterval(function () {
                    i++;
                    if(i >= 72){
                        clearInterval(ti);
                    }
                    testEditor.resize();
                },5)
            });

        });
        $("ul[data-id='sort-name'] li a").click(function () {
            let s = $("button[data-id='sort-name']");
            s.attr('data-value', $(this).html());
            s.html($(this).html())
        });
        $("ul[data-id='label-name'] li a").click(function () {
            let s = $("button[data-id='label-name']");
            s.attr('data-value', $(this).html());
            s.html($(this).html())
        });
        document.addEventListener('visibilitychange', function () {
            let isHidden = document.hidden;
            if (isHidden) {
                document.title = document.title + '-不写文章跑去干嘛';
            } else {
                document.title = '发表';
            }
        });
        window.onbeforeunload = function (event) {
            return "提示：您尚有未保存的内容，离开本页将丢失编辑内容！:)";
        };


    </script>
{% endblock %}